@font-face {
    font-family: 'ethnocentric';
    src: url('../font/ethnocentric.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'PingFang';
    src: url('../font/PingFang-SC.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DaysOne';
    src: url('../font/DaysOne-Regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}